<header>
  <nav>
      <div class="flex">
          <div>
              <img src="assets/image/biglogo.jpg" alt="GMULogo" id="bigLogo">
          </div>
          <div id="headline">
              <h2>Department of</h2>
              <h1>COMPUTER SCIENCE</h1>
          </div>
          <div id="button">
              <button id="surveyButton"><a href="../hw1/index.html">Back to CS Department</a></button>
          </div>
      </div>
  </nav>
</header>
<div id="surveyPage"></div>
<div id="surveyTitle">
  <h1 class="bigSurvey">SURVEY</h1>
  <h4>We would like to hear from a prospective student!</h4>
  <h5>Please provide your feedback about your campus visit.</h5>
</div>

<form-component ></form-component>
<result-component ></result-component>


<footer class="footer">
  <div>
    <div id="groupMember">
          <div>Group Member: Hsin-Ping Hsu</div>
          <div>Group Member: Yuxi Miao</div>
      </div>
  </div>
  <div id="footNode">
      <p>Department of Computer Science</p>
      <p>Nguyen Engineering Building</p>
      <p>4400 University Drive</p>
      <p>Fairfax, VA 22030</p>
  </div>
  <div id="footerLogo">
      <a href="https://www2.gmu.edu/"><img src="assets/image/biglogo.jpg" height="150" alt="GMUlogo"></a>
  </div>
</footer>


<router-outlet></router-outlet>